<label>People</label>
<input type="text" ng-model="vm.numberOfPeople" ng-keyup="vm.updateCalculations()"></input>

<!-- Add custom person -->
<button class="btn-floating btn-large waves-effect waves-light"
        ng-click="vm.addCustomPerson()">
          <i class="material-icons">add</i>
</button>
<h4>Add special breakout for person</h4>

<div>
  <person
          name="{{ $index }}"
          checkamount="vm.customPeople[$index].checkAmount"
          tipamount="{{ vm.getTipForPerson($index) }}"
          taxamount="{{ vm.getTaxForPerson($index) }}"
          test="vm.test($index)"
          delete="vm.removeCustomPerson($index)"
          updatecalculation="vm.updateCalculations()"
          ng-repeat="person in vm.customPeople">
  </person>
</div>
