<h1 id="title-number-of-people">Number of People</h4>
<div class="row">
  <div class="input-box">
    <input id="input-text" placeholder="Number of people" type="text" ng-model="vm.numberOfPeople" ng-keyup="vm.updateCalculations()"></input>
  </div>
</div>

<div class="center-align" id="button-add-container">
  <button class="waves-effect waves-light btn z-depth-4 pink accent-2" id="button-add"
  ng-click="vm.addCustomPerson()">
    <span id="text-add-person">Add Special Breakout For Person</span>
  </button>
</div>

<div>
  <person
          name="{{ $index }}"
          checkamount="vm.customPeople[$index].checkAmount"
          tipamount="{{ vm.getTipForPerson($index) }}"
          taxamount="{{ vm.getTaxForPerson($index) }}"
          delete="vm.removeCustomPerson($index)"
          updatecalculation="vm.updateCalculations()"
          ng-repeat="person in vm.customPeople">
  </person>
</div>
