<div class="deep-purple z-depth-3" id="title-person-breakout">
  <div class="valign-wrapper">
    <div class="col s4">
      <h1 class="white-text valign">Breakout For Everyone Else</h1>
    </div>
  </div>
</div>

<table>
  <tbody>
    <tr>
      <td><h1>Check</h1></td>
      <td><h1>{{ vm.perPerson_check | number: 2 }}</h1></td>
    </tr>

    <tr>
      <td><h1>Tax</h1></td>
      <td><h1>{{ vm.perPerson_tip | number: 2 }}</h1></td>
    </tr>

    <tr>
      <td><h1>Tip</h1></td>
      <td><h1>{{ vm.perPerson_tax | number: 2 }}</h1></td>
    </tr>
  </tbody>
</table>
