<div class="card z-depth-2">
  <h1>Special Breakout for Person #{{ name }}</h1>

  <div class="row">
    <div class="col s4">
      <h1>Check Amount</h1>
    </div>

    <div class="col s8 input-box">
      <input id="input-text" type="text" ng-model="checkamount" ng-keyup="updatecalculation()"></input><br />
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <h1>Tip</h1>
    </div>

    <div class="col s8">
      <h1>{{ tipamount | number:2 }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <h1>Tax</h1>
    </div>

    <div class="col s8">
      <h1>{{ taxamount | number:2 }}</h1>
    </div>
  </div>

  <div class="right-align" id="button-delete-container">
    <button class="waves-effect waves-light btn z-depth-4 pink accent-2" id="button-delete"
    ng-click="delete()">
      <span id="text-delete-person">Delete</span>
    </button>
  </div>
</div>
