<!-- Per Person Calculation -->
<div class="container">

  <div class="card amber lighten-4">
    <div class="row">
        <h1 class="center-align">Per Person For Everyone</h1>
    </div>

    <div class="row">
      <div class="col s4">
        <h1>Check</h1>
      </div>

      <div class="col s8">
        <h1>{{ vm.perPerson_check | number: 2 }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <h1>Tip</h1>
      </div>

      <div class="col s8">
        <h1>{{ vm.perPerson_tip | number: 2 }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <h1>Tax</h1>
      </div>

      <div class="col s8">
        <h1>{{ vm.perPerson_tax | number: 2 }}</h1>
      </div>

    </div>
  </div>
</div>
