.person {
  border:1px solid black;
  border-radius:0.5em;
  padding:1em;
}

#percentages li {
  display:inline;
  margin-right:2em;
}

#percentages label {
  font-size:2em;
  color:black;
}

button + h4 {
  display:inline;
}

#input-text {
  font-size:3em;
}

.input-box {
  position:relative;
  top:3em;
}

#totalBill {
  font-style:italic;
  font-weight:300;
}
