/*****************************************************************************/
/*** Header ******************************************************************/
/*****************************************************************************/

#title {
  padding-left:1em;
  vertical-align:middle;
  margin:auto;
  height:10em;
}

#title-enter-bill {
  padding-left:1em;
  vertical-align:middle;
  margin:auto;
  height:12em;
}

#title-person-breakout {
  margin-top:4em;
  padding-left:1em;
  vertical-align:middle;
  height:12em;
}

/*****************************************************************************/
/*** Percentages Radio Buttons ***********************************************/
/*****************************************************************************/

#percentages {
  margin-top:4em;
}

#percentages li {
  display:inline;
  margin-right:3em;
}

#percentages label {
  font-size:4em;
  color:black;
}

#title-number-of-people {
  top:1em;
  position:relative;
}

/*****************************************************************************/
/*** Buttons *****************************************************************/
/*****************************************************************************/

#button-add-container {
  margin-top:5em;
}

#button-add {
  height:2em;
  width:80%;
  font-size:3em;
  text-transform:capitalize;
}

#button-delete {
  height:2em;
  font-size:3em;
  margin:0.5em;
  text-transform:capitalize;
}

/*****************************************************************************/
/*** Input Texts *************************************************************/
/*****************************************************************************/

#input-text {
  font-size:3em;
}

.input-box {
  position:relative;
  top:3em;
}
