#title {
  padding-left:1em;
  vertical-align:middle;
  margin:auto;
  height:10em;
}

#title-enter-bill {
  padding-left:1em;
  vertical-align:middle;
  margin:auto;
  height:12em;
}

#percentages {
  margin-top:4em;
}

#percentages li {
  display:inline;
  margin-right:3em;
}

#percentages label {
  font-size:4em;
  color:black;
}

button + h4 {
  display:inline;
}

#input-text {
  font-size:3em;
}

.input-box {
  position:relative;
  top:3em;
}

#totalBill {
  font-style:italic;
  font-weight:300;
}

#largeButton {
  height:5em;
  width:5em;
}

h2 {
  display:inline-block;
}
